- set_page_title(@conversation.recipient.full_name)

.container
  .three-column-container

    .quarter.u-margin-top--small.container.u-border-right
      %h2 Conversations

      .u-margin-top--small
        - current_user.conversations.each do |conversation|
          = render partial: 'conversations/inbox_entry', locals: { conversation: conversation }

    .three-quarters
      .content
        %h2= link_to @conversation.recipient.full_name, user_path(@conversation.recipient)

        .m-chat.u-margin-top--small
          #messages
            %p= link_to 'Older messages', '?m=all' if @over_ten

            - @messages.each do |message|
              = render partial: 'message', locals: { message: message } if message.persisted?

        = form_for [@conversation, @message] do |f|
          = f.text_field :body, autofocus: true, autocomplete: :off, class: "u-full-width"
