:ruby
  other_user = conversation.sender if conversation.sender != current_user
  other_user = conversation.recipient if conversation.recipient != current_user

= link_to conversation_messages_path(conversation) do
  .m-chat__message.u-margin-top--small
    .m-chat__inbox-icon{"data-badge" => (conversation.unread_messages_count(current_user) if conversation.unread_messages_count(current_user) > 0)}
      = profile_image(other_user, css_class: 'a-avatar--thumb-square')
    .m-chat__inbox-entry
      %p
        = other_user.full_name
        - if conversation.messages.last
          %span.m-chat__datestamp= conversation.messages.last.created_at.to_formatted_s(:time)
      %p= excerpt(conversation.messages.last.body, 30) if conversation.messages.last
