- @chatrooms.each do |chatroom|
  %p
    = chatroom.name
    = link_to 'Show', chatroom
    = link_to 'Edit', edit_chatroom_path(chatroom)
    = link_to 'Destroy', chatroom, :method => :delete, :data => { :confirm => 'Are you sure?' }
    = link_to 'Join', chatroom_chatroom_users_path(chatroom), method: :post
    = link_to 'Leave', chatroom_chatroom_users_path(chatroom), method: :delete

= link_to 'New Chatroom', new_chatroom_path

.container
  .three-column-container

    .third
      = render partial: 'room_list'


    .half
      - if current_user.chatrooms.any?
        %h1= @chatroom.name
        .m-chat
          #messages{"data-behavior" => "messages", "data-chatroom-id" => "#{@chatroom.id}"}
            = render @chatroom.messages

          = form_for [@chatroom, Message.new] do |f|
            = f.text_area :body, autofocus: true, rows: 1, class: 'u-full-width'
            .content.u-right
              = f.submit 'Send', class: 'a-button'
