.container
  .content
    = render partial: 'room_list'

.container
  .content
    %p
      %b Name:
      = @chatroom.name

      %div{"data-behavior" => "messages", "data-chatroom-id" => "#{@chatroom.id}"}
        - @messages.each do |message|
          = render message

    = form_for [@chatroom, Message.new] do |f|
      = f.text_area :body, autofocus: true, rows: 1, class: 'u-full-width'

    = link_to 'Edit', edit_chatroom_path(@chatroom)
    \|
    = link_to 'Back', chatrooms_path
