.m-gallery
  - artworks.each do |artwork|
    - content_for :additional_stylesheet do
      %style
        :plain
          #artwork_#{artwork.id} {
            background-image: url(#{artwork.image});
          }
    .m-gallery__piece
      = link_to artwork_path(artwork) do
        .m-gallery__image[artwork]
      %h2.u-center.u-margin-top--small
        = link_to artwork.name, artwork_path(artwork)
      %h3= artwork.price_in_gbp
      .u-center#likes_count[artwork]= render partial: 'artworks/like_link', locals: { subject: artwork, user_list: true }
