.container
  = form_for @artwork do |f|
    .content
      %h2 Name
      = f.text_field :name, class: 'u-full-width'

    .content
      %p Image
      = f.file_field :image

    .content
      %p Size
      = f.select :frame_size, frame_size_options_for_select(f.object.frame_size), { label: 'Size' }

    .content
      %p Describe your artwork
      = cktext_area :artwork, :description, cols: 40, ckeditor: { uiColor: '$colour-grey', toolbar: 'mini' }

    .content
      %p Add search tags (comma separated)
      = f.text_area :tags, class: 'u-full-width'

    .content
      - if current_user.payment_enabled?
        %p
          Price in GBP
        = f.number_field :price
      - else
        %p Please connect with Stripe so you can sell artwork
        = link_to 'Connect to Stripe', user_stripe_connect_omniauth_authorize_path, class: 'a-button'

    .content.content--wide
      .a-buttons
        = link_to "Delete artwork", @artwork, method: :delete, data: { confirm: 'Delete artwork?' }, class: 'a-button a-button--warning' if @artwork.persisted?
        = @artwork.persisted? ? (link_to 'Cancel', @artwork, class: 'a-button' ) : (link_to 'Cancel', artworks_path, class: 'a-button' )
        = f.submit 'Save', class: 'a-button u-float-right'

.u-margin-bottom
