- set_page_title("#{@artwork.name}, by #{@user.full_name}")

= render 'users/profile/intro', selector: "#user_#{@user.id}", src: @artwork.image.url(:header_medium), srcset: {'900px' => @artwork.image.url(:header_large) }, title: @artwork.name, user: @user

.container
  .three-column-container

    .third.centered
      = render partial: 'shared/artist_block', locals: { user: @user }

      = link_to 'Edit artwork', edit_artwork_path(@artwork), class: 'a-button' if can? :edit, @artwork

    .half
      .content
        = image_tag @artwork.image.url(:square_large)
        %h1.u-center= @artwork.name

        .u-center#likes_count= render partial: 'like_link', locals: { subject: @artwork, user_list: true }
