- set_page_title("#{@artwork.name}, by #{@user.full_name}")

= render 'users/profile/intro', selector: "#user_#{@user.id}", src: @artwork.image.url(:header_medium), srcset: {'900px' => @artwork.image.url(:header_large) }, title: @artwork.name, user: @user

.container
  .three-column-container

    .third.centered
      = render partial: 'shared/artist_block', locals: { user: @user }

      = link_to 'Edit artwork', edit_artwork_path(artwork: @artwork), class: 'a-button' if current_user == @artwork.artist

    .half
      .content
        = image_tag @artwork.image.url(:square_large)
        %h1.u-center= @artwork.name
        - if @artwork.price.present? && @artwork.artist.payment_enabled?
          = form_tag charges_path(@artwork) do
            - if flash[:error].present?
              #error_explanation
                %p= flash[:error]
            %h2.u-center
              = precede '£' do
                = @artwork.price
            .u-center
              %script.stripe-button{"data-amount" => (@artwork.price * 100), "data-description" => "Purchasing #{@artwork.name}", "data-artwork" => @artwork, "data-key" => "#{Rails.configuration.stripe[:publishable_key]}", "data-locale" => "auto", "data-currency" => "gbp", :src => "https://checkout.stripe.com/checkout.js"}
        .u-center#likes_count[@artwork]= render partial: 'like_link', locals: { subject: @artwork, user_list: true }


