%p.m-notification{class: ('m-notifications__unread' unless notification.read)}
  - if notification.notifiable_type == 'User'
    %strong= link_to notification.notified_by.full_name, notification.notified_by
    = notification.action
    you
  - else
    = link_to notification.notified_by.full_name, notification.notified_by
    = notification.action
    your
    = notification.notifiable_type.downcase
    %strong= link_to notification.notifiable.label, link_through_path(notification)
  %br
  %span.u-small-text
    = notification.emoji
    = notification.created_at.to_formatted_s(:long)
%hr.u-black-line--thin
