- set_page_title("Edit profile")

= form_for @user do |f|
  .container
    .content.d-form
      %p Cover photo
      = f.file_field :hero_image
    .content.d-form
      %p Profile image
      = f.file_field :profile_image
    .content.d-form
      %p= f.label :full_name
      = f.text_field :full_name, placeholder: 'Full name', class: 'u-full-width'
      %p= f.label :email
      = f.text_field :email, placeholder: 'Email address', class: 'u-full-width'
      %p About the artist
      = f.text_area :description, placeholder: 'About the artist', class: 'u-full-width'
    .content.d-form
      %p Links
      %p= f.label 'Personal website'
      = f.text_field :website, placeholder: 'http://mysite.com', class: 'u-full-width'
      %p= f.label 'Instagram username'
      = f.text_field :instagram_username, placeholder: 'curateart', class: 'u-full-width'
      %p= f.label 'Facebook username'
      = f.text_field :facebook_username, placeholder: 'curateart', class: 'u-full-width'
      %p= f.label 'Twitter username'
      = f.text_field :twitter_username, placeholder: 'curateart', class: 'u-full-width'
    .content.d-form
      = link_to 'Cancel', user_path(@user), class: 'a-button'
      = f.submit 'Save changes', class: 'a-button'
