- set_page_title(@user.full_name)

= render 'users/profile/intro', selector: "#user_#{@user.id}", src: @user.hero_image.url(:header_medium), srcset: {'900px' => @user.hero_image.url(:header_large)}

.three-column-container

  .third.centered
    = profile_image(@user, css_class: 'a-avatar')
    %br
    %h1= @user.full_name
    = render partial: 'shared/social_links', locals: { user: @user }
    .content.content--tight
      %p.u-center= sanitize @user.bio
    %br
    = link_to 'Edit profile', edit_user_path(@user), class: 'a-button' if can? :edit, @user

  .half
    - if @user.liked_posts.any?
      .content
        %h2 Activity
        = render partial: 'shared/activity', locals: { user: @user }

    - if @user.posts.any?
      .content
        %h2 Posts
        %br
        = render partial: 'shared/posts', locals: { posts: current_user.posts.draft } if current_user && current_user.posts.draft.any?
        = render partial: 'shared/posts', locals: { posts: @user.posts.published }
