- set_page_title(@user.full_name)

= render 'users/profile/intro', selector: "#user_#{@user.id}", src: @user.hero_image.url(:profile_medium), srcset: {'900px' => @user.hero_image.url(:profile_medium)}, title: @user.full_name, user: @user

.container
  .content.content--xxwide
    .m-display-section
      .m-display-section__first
        %h1
          About
          = @user.name
        %p= sanitize @user.description
        #follower_count[@user]= render partial: 'shared/follow_link', locals: { artist: @user, user_list: true }
        = link_to "Message #{@user.name}", conversations_path(recipient_id: @user.id), method: 'post', class: 'a-button' unless current_user == @user
        = link_to 'Edit', edit_user_path(@user), class: 'a-button' if current_user == @user

      .m-display-section__second
        - content_for :additional_stylesheet do
          %style
            :plain
              .m-display-section__image#user_#{@user.id} {
                background-image: url(#{@user.avatar});
              }
        .m-display-section__image[@user]

- if @user.artworks.any?
  .container.container--alt
    .content
      %h2.u-center.u-margin-top--small Artwork
    .content.content--xxwide
      = render partial: 'artworks/artworks', locals: { artworks: @user.artworks }
