- updates.each do |update|
  %p
    = link_to update.fan.name, update.fan
    liked a
    = update.subject_type
    = link_to update.subject_name, update.subject
    by
    = link_to update.subject_creator.full_name, update.subject_creator
    %br
    = relative_time(update.created_at)
    ago
