- if defined?(title)
  %h2= title
- posts.each do |post|
  %h4
    = post_status(post)
    = link_to post.title, post
  %p
    = link_to "By #{post.author.full_name}", post.author
    %span.u-float-right
      %i.fa.fa-calendar
      = post_date(post)
  %p= excerpt(post.content)

  .u-right
    = link_to 'Read more', post, class: 'a-button'

  .u-margin-bottom
