- if defined?(title)
  .content.content--tight-bottom
    %h2= title
- posts.each do |post|
  .content.content--separated-bottom
    %h2
      = post_status(post)
      = link_to post.title, post
    %h3
      = link_to "By #{post.author.full_name}", post.author
      %span.u-float-right
        %i.fa.fa-calendar
        = post_date(post)
    %p= excerpt(post.content)
