= render partial: 'shared/wallpaper', locals: { source: @homepage_wallpaper }

.m-canvas.u-center
  .container
    .content.content--wide
      %h2 Because we want to help bring some art to your walls
      %p
        Art on your walls should be original, like you. You don’t need to know anything about art to find a piece you love, giving your home a personal touch. A curated art gallery minus the intimidating vibe and lack of information. Discover artists today. 

      = link_to 'Discover', artworks_path, class: 'a-button a-button--large'

.container.container--alt
  .content.content--xxwide
    %h2.u-center.u-margin-top--small Browse some of our favourite artworks

.container.container--alt
  .content.content--xxwide
    = render partial: 'artworks/artworks', locals: { artworks: @featured_artworks.take(6) }
    .u-center.u-margin-top--small.u-margin-bottom= link_to 'Discover more artwork', artworks_path, class: 'a-button'

.container.content--separated-bottom
  .content.content--xxwide
    .m-display-section
      .m-display-section__first
        %h2 Featured Artists
        %p
          We curate the best artists, so you don’t have to. Our artists come first, and we take time and effort to find talented artists from unique areas and showcase their work. From award-winning artists to top art school graduates, we offer work with a diverse range of subjects and styles. We’ve created a community of artists and art lovers alike.

        = link_to 'See Featured Artists', artworks_path, class: 'a-button u-margin-top--small a-button--elastic'
      .m-display-section__second
        = image_tag('https://s3.eu-west-2.amazonaws.com/curate-group/uploads/images/cc/8c/twitter_cc8ce497-8649-4e3a-9ab8-345289f473f3.jpg', class: 'm-display-section__image')

.container
  .content.content--xxwide
    %h2.u-center.u-margin-top--small Journal
.container
  .content.content--xxwide
    = render partial: 'shared/posts', locals: { posts: @featured_posts.take(6) }
