.container
  .three-column-container

    .third.centered
      = render partial: 'shared/artist_block', locals: { user: @user }

      = link_to 'Edit profile', edit_user_path(@user), class: 'a-button u-margin-bottom--small' if can? :edit, @user

      = link_to "Message #{@user.name}", conversations_path(recipient_id: @user.id), method: 'post', class: 'a-button' unless current_user == @user

    .half
      .content
        %h2 Activity
        = render partial: 'shared/activity', locals: { events: @user.events }
