:ruby
  srcset ||= {}

- content_for :additional_stylesheet do
  %style
    :plain
      #{selector} {
        background-image: url(#{src});
      }

    - srcset.each do |width, src|
      :plain
        @media all and (min-width: #{width}) {
          #{selector} {
            background-image: url(#{src});
          }
        }

.container.m-hero[@user]
  %h1= @user.full_name
