- set_page_title('Blog')

.container
  .content
    %h1 Blog
    = link_to 'Write a post', new_post_path, class: 'a-button a-button--corner'  if can? :create, Post
    - if current_user && current_user.posts.draft.any?
      - current_user.posts.draft.each do |draft|
        .content.content--separated-bottom
          %h2
            = post_status(draft)
            = link_to draft.title, draft
          %p= excerpt(draft.content)
    - @posts.each do |post|
      .content.content--separated-bottom
        %h2= link_to post.title, post
        %p= excerpt(post.content)
