- set_page_title('Journal')

.container
  .content.content--xwide
    .m-display-section
      .m-display-section__first
        %h2= link_to @posts.first.title, @posts.first
        %p= @posts.first.introduction
      .m-display-section__second
        - content_for :additional_stylesheet do
          %style
            :plain
              #post_#{@posts.first.id} {
                background-image: url(#{@posts.first.featured_image.url});
              }
        = link_to @posts.first do
          .m-display-section__image[@posts.first]

  .content.content--xxwide
    = render partial: 'shared/posts', locals: { posts: @posts[1..10] }
