- set_page_title(@post.title)

.container
  .content
    %h1
      = post_status(@post)
      = @post.title
    .content.content--tight
      %h4
        = link_to "By #{@post.author.full_name}", @post.author
        %span.u-float-right
          %i.fa.fa-calendar
          = post_date(@post)
    = link_to 'Edit', edit_post_path(@post), class: 'a-button a-button--corner' if can? :edit, @post
    = sanitize @post.content

- if @post.tags.any?
  .container
    .content
      %h3 Tags
      = render partial: 'shared/tags', locals: { tags: @post.tags }
