.s-navbar__user-nav-menu-dropdown
  = link_to 'Your profile', user_path(current_user), class: 's-navbar__nav'
  = link_to 'List artwork', new_artwork_path, class: 's-navbar__nav' if can? :create, Artwork
  = link_to 'Write a post', new_post_path, class: 's-navbar__nav' if can? :create, Post
  %hr.u-black-line--thin
  = link_to 'Admin', admin_root_path, class: 's-navbar__nav' if current_user.has_role? :admin
  = link_to 'Sign out', destroy_user_session_path, method: :delete, class: 's-navbar__nav'
