- if current_user
  = link_to mark_all_read_path, remote: true, class: 'js-open-notifications' do
    .m-chat__inbox-icon{"data-badge" => (current_user.notifications.unread.size if current_user.notifications.unread.size > 0)}
      %i.fa.fa-heart
  - if current_user.conversations.any?
    = link_to '#', class: 'js-open-messages' do
      .m-chat__inbox-icon{"data-badge" => (current_user.unread_messages_count if current_user.unread_messages_count > 0)}
        %i.fa.fa-envelope.s-navbar__icon
  = link_to user_path(current_user), class: 'js-user-nav-trigger' do
    %i.fa.fa-bars

- else
  = link_to 'Log in', new_user_session_path, class: 's-navbar__nav'
  = link_to 'Sign up', new_user_registration_path, class: 'a-button a-button--small a-button--hollow'
