!!! 5

<!--[if lt IE 8]> <html class="no-js ie7 oldie" lang="en-GB" id="oldie"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en-GB" id="oldie"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 oldie" lang="en-GB" id="oldie"> <![endif]-->
<!--[if gt IE 9]> <!--> <html class="no-js" lang="en-GB"> <!--<![endif]-->

%head
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
  = favicon_link_tag('favicon.ico')
  = favicon_link_tag('favicon.png', sizes: '64x64', type: 'image/png')
  %title
    = @page_title || "Curate"
  = render partial: 'layouts/google_analytics'
  %link{:href => "https://necolas.github.io/normalize.css/4.1.1/normalize.css", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700|Open+Sans:400,400i,700", :rel => "stylesheet"}/
  %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
  = content_for :additional_stylesheet
  = javascript_include_tag :modernizr
  = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
  = javascript_include_tag Ckeditor.cdn_url
  = csrf_meta_tags
  - if content_for?(:og_header)
    = yield :og_header
  - else
    = render partial: 'layouts/twitter_card'
