.s-navbar
  = link_to 'Curate', root_path, class: 's-navbar__logo'
  = link_to 'Artists', users_path, class: 's-navbar__nav'
  = link_to 'Blog', posts_path, class: 's-navbar__nav'
  - if current_user
    = link_to 'Sign out', destroy_user_session_path, method: :delete
    = link_to avatar_small(current_user, css_class: 'a-avatar--thumb'), user_path(current_user)
  - else
    = link_to 'Sign in', new_user_session_path, class: 's-navbar__nav'
