!!!
%html
  = render partial: 'layouts/head'
  %body
    = render partial: 'layouts/header'
    = render partial: 'layouts/admin/header'
    = render partial: 'layouts/messages'
    = yield
    = render partial: 'layouts/footer' unless @messages
