!!!
%html
  = render partial: 'layouts/head'
  %body
    = render partial: 'layouts/canvas' if current_page?(root_path)
    = render partial: 'layouts/header'
    = render partial: 'layouts/messages'
    = yield
    = render partial: 'layouts/footer' unless @messages
